[Unit]
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker stop dash
ExecStartPre=-/usr/bin/docker rm dash
ExecStart=/usr/bin/docker run -t --name dash -v /opt/full-nodes/dash/data:/data -p 8002:9998 dash
User=ubuntu

[Install]
WantedBy=multi-user.target

